@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color: black;
}
/* Navbar */
.Navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
nav{
    width: 100%;
    display: flex;
    margin-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    
}
.Logo{
    display: flex;
}
.Logo p{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 25px;

}

.links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: 50px;
}
.links a{
    text-decoration: none;
    color: white;
    margin-right: 35px;
    font-family: "Inter", sans-serif;
    transition: color 0.3s ease;
    font-size: 20px;
}

.links a:hover {
    color: #20B0E9; /* Hover color */
}

/* Hero */

.Hero-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;

}

.Hero-content{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Hero-content h1{
    color: white;
    font-size: 64px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}
.Hero-content h2{
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 90px;
    letter-spacing: 5px;
}

.paragraph p{
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: "Inter", sans-serif;

}

.paragraph {
    display: flex;
    width: 920px;
    padding: 20px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid var(--Glass-Stroke, rgba(255, 231, 231, 0.46));
    background: rgba(255, 255, 255, 0.10);
    /* Glass */
    box-shadow: 46px 46px 40px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25px);
    margin-top: 48px;
}

.Hero-btn{
    margin-top: 157px;
    display: flex;
    width: 454px;
    height: 68px;
    min-width: 140px;
    max-width: 640px;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    background: linear-gradient(180deg, #0F56C9 -6%, #437FE1 106%);
    color: #FFF;
    border: 0;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%; /* 37.2px */
    }

/* Services */
.Services-container{
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(to top, #0e49b4 0%,#132967 60%,#081749 85%,#000000 100%);    
}

.Services-content{
    margin-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Services-content h1{
color: #FFF;

text-align: center;
font-family: Poppins;
font-size: 64px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.Services{
    display: flex;
    gap: 40px;
}
.circle{
    width: 250px;
    height: 250px;
    background-color: white;
    border: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-gradient{
    width: 177.966px;
    height: 177.966px;
    border: 0;
    border-radius: 50%;
    background: linear-gradient(180deg, #DEDEDE 0%, #FFF 100%);
}

.service-1{
    width: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.service-2{
    width: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.service-3{
    width: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text h3{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.text p{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    padding-left: 40px;
    padding-right: 40px;
}


.service-btn{
    margin-top: 80px;
    margin-bottom: 100px;
    background-color: #00000000;
    display: flex;
    width: 440px;
    height: 50px;
    min-width: 140px;
    max-width: 640px;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #FFF;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%; /* 31px */
}